#gameCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#score {
  font-size: 20px;
  text-align: center; 
  font-family: sans-serif;
}

#high-score {
  font-size: 20px;
  text-align: center; 
  font-family: sans-serif;
  display: none;
}